/* You can add global styles to this file, and also import other style files */

.abaixo-peso {
  color: blue;
}

.peso-normal {
  color: green;
}

.sobrepeso {
  color: orange;
}

.obesidade {
  color: red;
}
